*{padding:0px; margin:0px;}
body{background-color:#141414;}
#mainLogo{width:81px; height:56px;}

hr{width:600px; border:1px solid #767676;}

form{position: relative;}                               /*가운데 정렬 마려우면 개추*/
form>div{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}




section>div{color:white; font:normal bold 48px Inter;}
section label{color:white;font:normal bold 27px Inter;}
input[type=email]{background-color: #EBEBEB; width:400px; height:74px;
    border-radius:10px; font:normal bold 30px Inter;}
input[type=password]{background-color: #EBEBEB; width:400px; height:74px;
        border-radius:10px;font-size:30px;}
input[type=email]:focus{border:none; background-color:#d8d8d8; font:normal bold 30px Inter;}
input[type=email]:focus{border:none; background-color:#d8d8d8; font:normal bold 30px Inter;}


input::placeholder{color:#B3B3B3; font:normal bold 24px Inter;}


#checkbox{color:white; font:normal 20px Inter;}
section label{display:block;}
section label span{display:inline-block; width:130px; text-align:center;}
section button{background-color: #E50914; width:400px; height:78px;
border-radius:10px; color: white; font:normal 36px Inter;}