* {
    padding: 0px;
    margin: 0px;
}

#mainLogo {
    width: 81px;
    height: 56px;
}

#center{    display: block;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 150px;
    width:1100px;}


hr{width:1141px;}

.inline{display:inline-block;
width:280px; height:530px;}

span{font:bold normal 36px Inter;}
