@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header {
    margin: 20px 20px;
}

#mainLogo {
    width: 81px;
    height: 56px;
}


body {
    background-color: #141414;
    background-repeat: no-repeat;
    color: white;
}

hr {
    width: 1400px;
}

span {
    font: normal bold 66px 'Inter', sans-serif;
    color: white;
}

#background {
    background-image: url("../resource/watchnetflix.png");
    background-size: 1650px 600px;
    height: 600px;
    font: normal bold 36px 'Inter', sans-serif;
    color: #B3B3B3;
}

section img {
    width: 302px;
    height: 180px;
}

.container {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 300px 300px 300px;
}

.item {
    text-align: center;
}

#list {
    font: normal bold 25px 'Inter', sans-serif;
}

#center {
    margin-left: 55px;
}

.item > img {
    -webkit-transition: transform .45s;
}

.item > img:hover {
    -webkit-transform: scale(1.1);
}

