* {
    padding: 0px;
    margin: 0px;
}

header {
    margin-top: 20px;
}

#mainLogo {
    width: 81px;
    height: 56px;
}

#center {
    display: block;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 150px;
    width: 1100px;
}


hr {
    width: 1141px;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
}

.inline {
    display: inline-block;
    width: 280px;
    height: 530px;
}

#top {
    vertical-align: top
}

span {
    font: bold normal 33px Inter;
}


